
 <mat-grid-list cols="4" rowHeight="500px" class="login-background">
  <mat-grid-tile [colspan]="mobileQuery.matches ? 0 : 1"></mat-grid-tile>
    <mat-grid-tile [colspan]="mobileQuery.matches ? 4 : 2" color="primary">
    <mat-divider></mat-divider>
    	<mat-card  style="width:100%" color="primary">

		<form [formGroup]="resetForm" class="mt-1" (ngSubmit)="SubmitReset()">
		<mat-form-field color="accent" class="full-width"  appearance="outline">
		<mat-label>Username or Email</mat-label>
        <mat-icon matSuffix>account_box</mat-icon>
		<input minlength="6" maxlength="15" matInput placeholder="Username or Email" formControlName="username">
		<mat-error align="start" *ngIf="resetForm.controls['username'].hasError('required') && resetForm.controls['username'].touched " class="form__error">Your Username is required</mat-error>
		</mat-form-field>
		<div class="button-row mt-5">
		  <button mat-raised-button [disabled]="!resetForm.valid" type="submit" color="accent">Reset Password</button>
		</div>
	</form>
		</mat-card>
		</mat-grid-tile>
	<mat-grid-tile [colspan]="mobileQuery.matches ? 0 : 1"></mat-grid-tile>

<!-- </div>
 -->
 </mat-grid-list>