	<mat-toolbar class="" color="primary">
      <img width="30px" src="/assets/logoicon.svg" />&nbsp;<span>Reset Password</span>
	</mat-toolbar>
	<mat-card>
	<form [formGroup]="resetForm" class="mt-1" (ngSubmit)="SubmitReset()">
		<mat-form-field class="full-width">
		<input minlength="6" maxlength="15" matInput placeholder="Username or Email" formControlName="username">
		<mat-error align="start" *ngIf="resetForm.controls['username'].hasError('required') && resetForm.controls['username'].touched " class="form__error">Your Username is required</mat-error>
		</mat-form-field>
		<div class="button-row mt-5">
		  <button mat-raised-button [disabled]="!resetForm.valid" type="submit" color="accent">Reset Password</button>
		</div>
	</form>
</mat-card>