	<mat-toolbar class="" color="primary">
      <img width="30px" src="/assets/logoicon.svg" />&nbsp;<span>Reset Password</span>
	</mat-toolbar>
	<mat-card>
	<form [formGroup]="passwordForm" class="mt-1" (ngSubmit)="SubmitPassword()">
		<mat-form-field class="full-width">
		<input minlength="6" type="password" maxlength="15" matInput placeholder="New Password" formControlName="newpassword">
		<mat-error align="start" *ngIf="passwordForm.controls['newpassword'].hasError('required') && passwordForm.controls['newpassword'].touched " class="form__error">New Password is required</mat-error>
		</mat-form-field>
		<mat-form-field class="full-width">
		<input minlength="6" type="password" maxlength="15" matInput placeholder="Confirm Password" formControlName="confirmpassword">
		<mat-error align="start" *ngIf="passwordForm.controls['confirmpassword'].hasError('required') && passwordForm.controls['confirmpassword'].touched " class="form__error">Confirm Password is required</mat-error>
		</mat-form-field>
		<div class="button-row mt-5">
		  <button mat-raised-button [disabled]="!passwordForm.valid" type="submit" color="accent">Change Password</button>
		</div>
	</form>
</mat-card>