<mat-grid-list cols="4" rowHeight="500px" class="login-background">
	<mat-grid-tile [colspan]="mobileQuery.matches ? 0 : 1"></mat-grid-tile>
	  <mat-grid-tile [colspan]="mobileQuery.matches ? 4 : 2" color="primary">
	  <mat-divider></mat-divider>
	<mat-card>
	<form [formGroup]="passwordForm" class="mt-1" (ngSubmit)="SubmitPassword()">
		<mat-form-field class="full-width" appearance="outline">
		<mat-label> Email</mat-label>
		<mat-icon matSuffix>account_box</mat-icon>
		<input minlength="6" type="email" maxlength="50" matInput placeholder="Email" formControlName="email">
		<mat-error align="start" *ngIf="passwordForm.controls['email'].hasError('required') && passwordForm.controls['email'].touched " class="form__error">New Password is required</mat-error>
		</mat-form-field>
		<mat-form-field class="full-width" appearance="outline">
		<mat-label>New Password</mat-label>
		<mat-icon matSuffix>account_box</mat-icon>
		<input minlength="6" type="password" maxlength="15" matInput placeholder="New Password" formControlName="password">
		<mat-error align="start" *ngIf="passwordForm.controls['password'].hasError('required') && passwordForm.controls['password'].touched " class="form__error">New Password is required</mat-error>
		</mat-form-field>
		<mat-form-field class="full-width"appearance="outline">
		<mat-label>Confirm Password</mat-label>
		<mat-icon matSuffix>account_box</mat-icon>
		<input minlength="6" type="password" maxlength="15" matInput placeholder="Confirm Password" formControlName="password_confirmation">
		<mat-error align="start" *ngIf="passwordForm.controls['password_confirmation'].hasError('required') && passwordForm.controls['password_confirmation'].touched " class="form__error">Confirm Password is required</mat-error>
		</mat-form-field>
		<div class="button-row mt-5">
			<mat-spinner [diameter]="30" *ngIf="isSubmitting"></mat-spinner>
			<button  *ngIf="!isSubmitting" mat-raised-button [disabled]="!passwordForm.valid" type="submit" color="accent">Change Password</button>
		</div>
	</form>
</mat-card>
</mat-grid-tile>
<mat-grid-tile [colspan]="mobileQuery.matches ? 0 : 1"></mat-grid-tile>

<!-- </div>
-->
</mat-grid-list>