<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
	<div class="item item-2" fxFlex>
<ngb-carousel *ngIf="settings.slider_images?.length > 0" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
 <div *ngFor="let image of settings.slider_images">
  <ng-template  ngbSlide *ngIf="image != ''"  >
    <div class="picsum-img-wrapper" > 
      <img  class="img-fluid "   [src]="image" alt="Random slide">
    </div>
    <div class="carousel-caption">
      <!-- <h3 style="color:white">{{settings.home_page_title}}</h3>
      <p style="color:white">{{settings.home_page_description}}</p> -->
      <!-- <button mat-raised-button  type="button" color="accent">Post AD</button> -->
    </div>
  </ng-template>
</div>
</ngb-carousel>
</div>
</div>
<mat-toolbar>Steps to Post Ad</mat-toolbar>
<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center"  fxLayoutGap="10px" fxLayoutGap.xs="0">
      
  <mat-card fxFlex *ngFor="let msg of stepsToPost">
      <mat-toolbar color="primary">
      <mat-toolbar-row >
      <mat-icon style="flex: 1 1 auto;
      text-align: center;" class="img-container-inline" aria-hidden="false" aria-label="Example user verified icon">{{msg.icon}}</mat-icon>
      </mat-toolbar-row>
      </mat-toolbar>
  <p class="text-justify m-2">
  {{msg.text}}
  </p>

</mat-card>
</div>
<!-- 
 <div class="col-sm-1" >
</div>
</div>
</div>
<mat-toolbar color="primary" class="border-accent-small-bottom" >
<mat-icon>trending_up</mat-icon>&nbsp;Trending 
</mat-toolbar>
<mat-grid-list cols="4" rowHeight="50px">
<mat-grid-tile  [colspan]="colspanValue" [rowspan]="1"  *ngFor="let tl of trendingHashtags">
<span class="bold-class"><a [routerLink]="['/ad/list/'+tl.hashtag]" routerLinkActive="active"> {{tl.hashtag | hashtag}}</a> </span>&nbsp;&nbsp;&nbsp;
<mat-chip-list>
  <mat-chip color="color" selected>{{tl.count}}</mat-chip>
</mat-chip-list>
</mat-grid-tile>
</mat-grid-list>

<mat-toolbar color="primary" class="border-accent-small-bottom" >
<mat-icon>view_list</mat-icon>&nbsp;Popular Posts 
</mat-toolbar>

<mat-tab-group>
  <mat-tab *ngFor="let tl of trendingHashtags">
    <ng-template mat-tab-label>
     <span (click)="adListing(tl.hashtag)"> {{tl.hashtag | hashtag}}</span>
    </ng-template>

<mat-list *ngIf="adList == '' || !adList" role="list">
  <mat-list-item role="listitem">No Ad Found</mat-list-item>
</mat-list>
<div class="d-flex justify-content-center"><mat-spinner color="accent" mode="indeterminate" *ngIf="showLoader"></mat-spinner>
</div>
<div class="card-columns" *ngIf="adList != 'undefined' && adList != '' && !showLoader">
    <div class="card" *ngFor="let ad of adList"  (click)="viewAd(ad._id)">
      <img  [src]="ad.ad_image_1"  class="card-img-top colored-shadow" alt="">
        <div class="card-body">
            <h5 class="card-title">Card title</h5> 
        --> <!--   <p class="card-text" [innerHtml]="ad.show_text"></p>
        </div>
    </div>
</div>
</mat-tab>
</mat-tab-group> -->
