<mat-toolbar color="white">Your Notifications</mat-toolbar>

<div class="text-center m-2" *ngIf="notifylist.length == 0">No Notifications</div>
<div class="container" fxLayout fxLayout.xs="column" *ngFor="let fl of notifylist" fxLayoutAlign="center"
        fxLayoutGap="10px" fxLayoutGap.xs="0">
        <mat-card class="mt-1" fxFlex="70%">
                <mat-card-header style="width:50%;float:left; ">
                        <img [src]="fl.profile_image" class="border" mat-card-avatar />
                        <mat-card-subtitle>
                                <a
                                        [routerLink]="['/user/account/',fl.user_id]">{{fl.username  | titlecase}}</a>{{fl.notify_message}}
                        </mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions style="width:50%;float:left; ">
                        <button style="float:right" (click)='notificationUpdate(fl.id,"B")' mat-icon-button
                                aria-label="Example icon-button with a heart icon">
                                <mat-icon>close</mat-icon>
                        </button>
                </mat-card-actions>
        </mat-card>
        <div class="item item-1" fxFlex></div>
</div>