
<!-- <mat-grid-list cols="3" gutterSize="5px" rowHeight="110px" style="background-color:#b8c0c7">
<mat-grid-tile [colspan]="3"  [rowspan]="2"> -->
<!-- </mat-grid-tile>
<mat-grid-tile [colspan]="deviceCols" [rowspan]="4" *ngFor="let ad of adList"> -->
<!--   <div class="row mx-md-n5"  style="background: #ffff" >
 -->    <!-- <mat-toolbar color="primary" >
  <mat-toolbar-row> -->
<!-- <form [formGroup]='usersForm'>
 --><!--     <mat-form-field class="example-full-width">
    <input matInput placeholder="Search" [matAutocomplete]="auto" formControlName='hashtags'>
  </mat-form-field>
 <mat-autocomplete #auto="matAutocomplete" >
    <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let list of filteredHashtags" [value]="list">
        <span  [innerHtml]="list | hashtag"></span>
      </mat-option>
    </ng-container>
  </mat-autocomplete> -->
 <mat-form-field  class="col-sm-6 font-14"  color="accent" appearance="outline">
    <mat-label>Hashtags</mat-label>
    <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let tag of hashtags"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(tag)">
      {{tag}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="#"
      #hashtagInput
      [formControl]="hashtagCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let list of filteredHashtags " [value]="list.hashtag">
      {{list.hashtag}}
    </mat-option> 
  </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="col-sm-4 font-14"  color="accent" appearance="outline">
    <mat-label>City Name</mat-label>
    <input matInput placeholder="City Name" [matAutocomplete]="auto2" [formControl]="cityCtrl">
    <mat-autocomplete #auto2="matAutocomplete"  (optionSelected)="selectedcity($event)">
      <mat-option *ngFor="let city of filteredCities " [value]="city.city_name">
        <span>{{city.city_name}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
   <button class="col-sm-2" mat-icon-button (click)="adListing()">
    <mat-icon aria-label="">search</mat-icon>
  </button>

<!-- 
<div id="card-container">
<mat-card  *ngFor="let ad of adList" class="ht-cards" >
  <mat-card-header class="m-2">
    <img [src]="ad.profileImage"  class="border" mat-card-avatar>
    <mat-card-title><a href="user/list/{{ad.userid}}"> {{ad.username | titlecase}}</a></mat-card-title>
    <mat-card-subtitle>{{ad.created_date_format | date:'medium' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
 <img *ngIf="ad.ad_image_1" class="img-thumbnail mt-2" [src]="ad.ad_image_1" alt="">
  <mat-card-content class="m-2">
    <p [innerHtml]="ad.show_text">
    </p>
    <mat-list class="card-text">
  <mat-list-item *ngIf="ad.websitelink">
   <a href="{{ad.websitelink}}" target="_blank"><mat-icon mat-list-icon>link</mat-icon></a>
  </mat-list-item> 
  <mat-divider *ngIf="ad.city"></mat-divider>
  <mat-list-item *ngIf="ad.city">
   <mat-icon mat-list-icon>location_on</mat-icon>{{ad.city}}
  </mat-list-item>
</mat-list>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
  <button mat-icon-button>
    <mat-icon title="Views" aria-label="Example icon-button with a heart icon">visibility</mat-icon>{{ad.views}}</button>
  <button class="float-right mr-2"  (click)="viewAd(ad._id)"  mat-raised-button color="accent">View</button>
  </mat-card-actions>
</mat-card>
</div> -->

<div class="card-columns m-2" >
  <div class="text-center m-2" *ngIf="adList.length == 0">No Listings</div>
  <div class="card"  *ngFor="let ad of adList" >
    <img *ngIf="ad.ad_image_1"  class="card-img-top" [src]="ad.ad_image_1" alt="" (click)="viewAd(ad.id)">
    <div class="card-body">
      <p class="card-text" [innerHtml]="ad.show_text"></p>
          <mat-list class="card-text">
          <mat-list-item *ngIf="ad.websitelink">
           <a href="{{ad.websitelink}}" target="_blank"><mat-icon mat-list-icon>link</mat-icon><small class="text-muted">Click Link</small></a>
          </mat-list-item> 
          <mat-divider *ngIf="ad.websitelink"></mat-divider>
          <mat-list-item *ngIf="ad.city">
           <mat-icon mat-list-icon>location_on</mat-icon><small class="text-muted">{{ad.city}}</small>
          </mat-list-item>
          <mat-divider *ngIf="ad.city"></mat-divider>
          <mat-list-item >
          <button mat-icon-button>
          <mat-icon title="Views" aria-label="Example icon-button with a heart icon">visibility</mat-icon>{{ad.views}}</button>
           <button mat-icon-button *ngIf="ad.fav_status">
            <mat-icon color="warn" title="Remove Favourite" (click)="updateFav(ad.id,1)"  aria-label="Example icon-button with a heart icon">favorite</mat-icon>{{ad.fav_count}}
            </button>
            <button mat-icon-button *ngIf="!ad.fav_status">
            <mat-icon title="Add Favourite" (click)="updateFav(ad.id,0)" aria-label="Example icon-button with a heart icon">favorite</mat-icon>{{ad.fav_count}}
            </button>
           </mat-list-item>
        </mat-list>
    </div>
  </div>
  </div>
  <mat-paginator *ngIf="adList.length > 0" [length]="paginationMeta.total"
              [pageSize]="paginationMeta.per_page"
              (page)="paginateAdListing($event)"
              >
</mat-paginator>