<header class="header">
<app-header></app-header>
</header>
<!-- <div [hidden]="!loading" class="loader">
      <h2>Loading...</h2>
      <mat-progress-bar mode="determinate"></mat-progress-bar>
    </div>
    <div [hidden]="loading" class="router-output">
      <router-outlet></router-outlet>
    </div>
</div> -->
<!-- <mat-grid-list cols="12" rowHeight="150px" class="">
	  <mat-grid-tile colspan="1" rowspan="4" ></mat-grid-tile>
	  <mat-grid-tile colspan="10" rowspan="4" >
  	  </mat-grid-tile>
	  <mat-grid-tile colspan="1" rowspan="4"></mat-grid-tile>
</mat-grid-list> -->

<div class="container">
  <div class="row h-50 d-inline-block w-100 p-3">
  </div>
  <div class="row flex-xl-nowrap" >
    <div class="col-sm">
    </div>
    <div class="col-sm-6" >
		<router-outlet></router-outlet>
    </div>
    <div class="col-sm">
    </div>
  </div>
  <div class="row h-50 d-inline-block w-100 p-3" >
  </div>
</div>
<footer class="footer">
<app-footer></app-footer>
</footer>
