
<!-- <mat-grid-list cols="3" gutterSize="5px" rowHeight="110px" style="background-color:#b8c0c7">
<mat-grid-tile [colspan]="3"  [rowspan]="2"> -->
<!-- </mat-grid-tile>
<mat-grid-tile [colspan]="deviceCols" [rowspan]="4" *ngFor="let ad of adList"> -->
  <div class="row" >
    <mat-toolbar color="primary" >
  <mat-toolbar-row>
<form [formGroup]='usersForm'>
    <mat-form-field class="example-full-width">
    <input matInput placeholder="Search" [matAutocomplete]="auto" formControlName='hashtags'>
  </mat-form-field>
 <mat-autocomplete #auto="matAutocomplete" >
    <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
    <ng-container *ngIf="!isLoading">
      <mat-option *ngFor="let list of filteredHashtags" [value]="list">
        <span  [innerHtml]="list | hashtag"></span>
      </mat-option>
    </ng-container>
  </mat-autocomplete>
  
   <button mat-icon-button (click)="adListing()">
    <mat-icon aria-label="">search</mat-icon>
  </button>
</form>
</mat-toolbar-row>
</mat-toolbar>
</div>
  <div class="card-columns">
<mat-card class="card"  *ngFor="let ad of adList">
  <mat-card-header class="m-2">
    <img [src]="ad.profileImage"  class="border" mat-card-avatar>
    <mat-card-title>{{ad.username | titlecase}}</mat-card-title>
    <mat-card-subtitle>{{ad.created_date_format | date:'medium' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
 <img  class="img-thumbnail mt-2" [src]="ad.ad_image_1" alt="">
  <mat-card-content class="m-2">
    <p [innerHtml]="ad.show_text">
    </p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
<button mat-icon-button>
    <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small" matBadgeOverlap="false" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small" matBadgeOverlap="false" aria-label="Example icon-button with a heart icon">visibility</mat-icon>
  </button>
   <button mat-icon-button>
  <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small" matBadgeOverlap="false" aria-label="Example icon-button with a heart icon">email</mat-icon>
  </button>
   <button mat-icon-button>
    <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small" matBadgeOverlap="false" aria-label="Example icon-button with a heart icon">flag</mat-icon>
  </button>
  <button class="float-right mr-2"  (click)="viewAd(ad._id)"  mat-raised-button color="accent">View</button>
  </mat-card-actions>
</mat-card>
<!-- </mat-grid-tile>
</mat-grid-list> -->
</div>