<!-- <div class="tiny-form  rounded  text-center">
 -->
<!-- <mat-toolbar class="" color="primary">
      <img width="30px" src="/assets/logoicon.svg" />&nbsp;<span>Sign Up</span>
    </mat-toolbar> -->
  <mat-grid-list cols="4" rowHeight="600px" class="login-background">
  <mat-grid-tile [colspan]="mobileQuery.matches ? 0 : 1"></mat-grid-tile>
    <mat-grid-tile [colspan]="mobileQuery.matches ? 4 : 2"> 
    <mat-divider></mat-divider>
    <mat-card>
    <form [formGroup]="signUpForm" class="mt-1" (ngSubmit)="SubmitSignup()">
    	<mat-form-field color="accent" class="full-width" appearance="outline"> 
        <mat-label>Username</mat-label>
        <mat-icon matSuffix>account_box</mat-icon>
    	<input minlength="3" maxlength="15" matInput placeholder="User Name" formControlName="username">
    	<mat-error align="start" *ngIf="signUpForm.get('username').hasError('required') && signUpForm.get('username').touched " class="form__error">Username is required</mat-error>
    	</mat-form-field>
        <mat-error align="start" *ngIf="errors.username" class="form__error">{{ errors.username }}</mat-error> 

    	<mat-form-field color="accent" class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <mat-icon matSuffix>email</mat-icon>
    	<input minlength="10" maxlength="50" matInput placeholder="Email" formControlName="email">
    	<mat-error align="start" *ngIf="signUpForm.controls['email'].hasError('required') && signUpForm.controls['email'].touched " class="form__error">Your Email is required</mat-error>
    	<mat-error align="start" *ngIf="signUpForm.controls['email'].valid && signUpForm.controls['email'].touched " class="form__error">Your email is not valid</mat-error>
		</mat-form-field>
		<mat-error align="start" *ngIf="errors.email" class="form__error">{{ errors.email }}</mat-error>
    	<mat-form-field color="accent" class="full-width" appearance="outline">
        <mat-label>Mobile</mat-label>
        <mat-icon matSuffix>phone_iphone</mat-icon>
    	<input minlength="6" maxlength="15" matInput placeholder="Mobile" formControlName="phone">
    	<mat-error align="start" *ngIf="signUpForm.controls['phone'].hasError('required') && signUpForm.controls['phone'].touched " class="form__error">Your Mobile Number is required</mat-error>
		</mat-form-field>
		<mat-error align="start" *ngIf="errors.phone" class="form__error">{{ errors.phone }}</mat-error>

    	<mat-form-field color="accent" class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
    	<input minlength="8" maxlength="15" matInput placeholder="Password" [type]="hide ? 'password' : 'text'"formControlName="password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint align="start"><strong>Password must greater that 8 character</strong> </mat-hint>
    	<mat-error align="start" *ngIf="signUpForm.controls['password'].hasError('required') && signUpForm.controls['password'].touched " class="form__error">Your Password is required</mat-error>
    	<mat-error align="start" *ngIf="signUpForm.controls['password'].touched && errors.password" class="form__error">{{ errors.password }}</mat-error>
    	</mat-form-field>
    	<div class="button-row mt-5">
		<mat-spinner [diameter]="30" *ngIf="isSubmitting"></mat-spinner>
    	<button *ngIf="!isSubmitting" mat-raised-button  [disabled]="!signUpForm.valid" type="submit" color="accent">Sign up</button>
    	</div>

    </form>
    </mat-card>

 <!--    </div> -->
	   </mat-grid-tile>
    <mat-grid-tile [colspan]="mobileQuery.matches ? 0 : 1"></mat-grid-tile>

<!-- </div>
 -->
 </mat-grid-list>