<header class="header">
<app-header></app-header>
</header>
<mat-sidenav-container class="example-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0" >
<mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" opened>
<mat-list role="list">
		<mat-list-item role="listitem">	   <a *ngIf="!loginStatus()" [routerLink]="['/auth/login']"routerLinkActive="active">
		  <button mat-menu-item>
		    <mat-icon>account_circle</mat-icon>
		    <span>Login</span>
		  </button> 
		  </a></mat-list-item>	
		  <mat-list-item role="listitem">	   <a *ngIf="!loginStatus()" [routerLink]="['/auth/signup']"routerLinkActive="active">
		  <button mat-menu-item>
		    <mat-icon>account_circle</mat-icon>
		    <span>Signup</span>
		  </button> 
		  </a></mat-list-item>
		  <mat-list-item role="listitem">	   <a [routerLink]="['/ad/list']"routerLinkActive="active">
		  <button mat-menu-item>
		    <mat-icon>account_circle</mat-icon>
		    <span>ads</span>
		  </button> 
		  </a></mat-list-item>
		  <mat-list-item role="listitem">	   <a *ngIf="loginStatus()" [routerLink]="['/auth/profile']"routerLinkActive="active">
		  <button mat-menu-item>
		    <mat-icon>account_circle</mat-icon>
		    <span>Profile</span>
		  </button> 
		  </a></mat-list-item>
		  <mat-list-item role="listitem"><a *ngIf="loginStatus()" [routerLink]="['/user/list']"routerLinkActive="active">
		  <button mat-menu-item>
		    <mat-icon>list</mat-icon>
		    <span>Your Listing</span>
		  </button> </a> </mat-list-item>
		  <mat-list-item role="listitem"><a *ngIf="loginStatus()" [routerLink]="['/ad/list']"routerLinkActive="active">
		  <button mat-menu-item>
		    <mat-icon>list</mat-icon>
		    <span>Ad Listing</span>
		  </button> </a></mat-list-item>
		 <mat-list-item role="listitem">   <a *ngIf="loginStatus()" >
		  <button mat-menu-item (click)="logout()">
		   <mat-icon>logout</mat-icon>
		    <span>logout</span>
		  </button>
		  </a></mat-list-item>
</mat-list>


</mat-sidenav>
<mat-sidenav-content>
	<router-outlet ></router-outlet>
</mat-sidenav-content>


<footer>
<app-footer></app-footer>
</footer>
