<!-- <mat-grid-list cols="3" gutterSize="5px" rowHeight="100px" style="background-color:#b8c0c7">
<mat-grid-tile [colspan]="3" [rowspan]="rowSpan"> -->
<div class="row">
<!-- <div class="col-sm-2">
</div> -->
<mat-card class="col-sm-6 rounded"  >
  <mat-card-header class="m-2">
    <img [src]="ad.profileImage"  class="border" mat-card-avatar/>
    <mat-card-title>{{ad.username  | titlecase}}</mat-card-title>
    <mat-card-subtitle>{{ad.created_date_format | date:'medium' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
<ngb-carousel >
  <ng-template ngbSlide *ngIf="ad.ad_image_1 != ''">
    <img class="img-thumbnail m-2" mat-card-image [src]="ad.ad_image_1"  alt="Random first slide">
    <div class="carousel-caption">
 <!--      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
    </div>
  </ng-template>
  <ng-template ngbSlide *ngIf="ad.ad_image_2 != ''">
    <img class="img-thumbnail mt-2" mat-card-image [src]="ad.ad_image_2"  alt="Random second slide">
    <div class="carousel-caption">
   <!--    <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
    </div>
  </ng-template>
  <ng-template ngbSlide *ngIf="ad.ad_image_3 != ''">
    <img class="img-thumbnail mt-2" mat-card-image [src]="ad.ad_image_3"  alt="Random third slide">
    <div class="carousel-caption">
  <!--     <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
    </div>
  </ng-template>
</ngb-carousel>
   <div class="card-body">
  <mat-card-content class="m-2">
    <p [innerHtml]="ad.show_text">
    </p>
    <mat-list class="card-text">
  <mat-list-item *ngIf="ad.websitelink">
   <a href="{{ad.websitelink}}" target="_blank"><mat-icon mat-list-icon>link</mat-icon></a>
  </mat-list-item> 
  <mat-divider *ngIf="ad.city"></mat-divider>
  <mat-list-item *ngIf="ad.city">
   <mat-icon mat-list-icon>location_on</mat-icon>{{ad.city}}
  </mat-list-item>
</mat-list>
  </mat-card-content>
</div>
<!--   <mat-card-actions>
<button mat-icon-button>
    <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small" matBadgeOverlap="false" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small" matBadgeOverlap="false" aria-label="Example icon-button with a heart icon">visibility</mat-icon>
  </button>
   <button mat-icon-button>
  <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small" matBadgeOverlap="false" aria-label="Example icon-button with a heart icon">email</mat-icon>
  </button>
   <button mat-icon-button>
    <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small" matBadgeOverlap="false" aria-label="Example icon-button with a heart icon">flag</mat-icon>
  </button>
  </mat-card-actions> -->
</mat-card>
<!-- <div class="col-sm-2">
</div> -->
<!-- </mat-grid-tile>
</mat-grid-list> -->
<!-- </div>
<div class="row"> -->

      <div class="chats-wrap col-sm-6 mt-2">
      <!-- Right side topbar -->
      <mat-toolbar color="primary" class="chat-toolbar mb-1">
        Messages
      </mat-toolbar>

      <!-- Main chat body -->
      <div class="conversations-hold">
<mat-card class="mt-10 font-14"  *ngFor="let ml of messageList" >
    <mat-card-header>
    <img [src]="ml.profileImage"  class="border " mat-card-avatar>
    <mat-card-title class="font-14"> {{ml.username | titlecase}}</mat-card-title>
    <mat-card-subtitle>{{ml.message_create_date | date:'medium' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="mt-2">
                  {{ml.message}}
  </mat-card-content>
</mat-card>
        <!-- single chat item -->
      <!--   <div class="single-conversation" fxLayout="row"  *ngFor="let ml of messageList">
          <a href="" class="toolbar-avatar online">
            <img mat-card-avatar src="{{ml.profileImage}}" alt="">
            <span class="status-dot"></span>
          </a>
          <div>
            <h5 class="chat-username text-muted">{{ml.username}}</h5>
            <div class="conversation-msg">
              {{ml.message}}
            </div>
            <p class="chat-date text-muted">{{ml.message_create_date | date:'medium'}}</p>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider> -->

      <!-- Input box and send button -->
      <div class="chat-input-actions" >
        <form [formGroup]="messageForm" class="mt-1" (ngSubmit)="sendMessage()">
          <mat-form-field class="full-width mr-1">
          <input
          formControlName="message"
          matInput
           class="form-control" 
          placeholder="Type your message"
          value="">
        </mat-form-field>
        <button mat-fab [disabled]="!messageForm.valid" type="submit" color="accent"><mat-icon>send</mat-icon></button>
        </form>
      </div>

    </div>
</div>
