<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="ad-logo"></span>
    <span class="toolbar-spacer"></span>
 	 <a [routerLink]="['/user/login']"routerLinkActive="active"><button class="float-right mr-2" mat-raised-button color="accent">Login</button></a>
 	 <a [routerLink]="['/user/signup']"routerLinkActive="active"><button class="float-right mr-2" mat-raised-button color="accent">Signup</button></a>
 	 <a [routerLink]="['/user/post-ad']"routerLinkActive="active"><button class="float-right mr-2" mat-raised-button color="accent">Post Ad</button></a>
  </mat-toolbar-row>

</mat-toolbar>