<mat-toolbar color="primary" >
  <mat-toolbar-row>
  	<!-- <button *ngIf="loginStatus()" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Example icon-button with a heart icon">menu</mat-icon>
  	</button> -->
<!--     <span class="ad-logo"></span>
 -->    <img src="/assets/logo.png"/>
    <span class="toolbar-spacer"></span>
 	 <a *ngIf="!loginStatus()" [routerLink]="['/auth/login']"routerLinkActive="active"><button class="float-right mr-2" mat-raised-button color="accent">Login</button></a>
 	 <a *ngIf="!loginStatus()" [routerLink]="['/auth/signup']"routerLinkActive="active"><button class="float-right mr-2" mat-raised-button color="accent">Signup</button></a>
 	 <a *ngIf="loginStatus()" [routerLink]="['/auth/post-ad']"routerLinkActive="active"><button class="float-right mr-2" mat-raised-button color="accent">Post Ad</button></a>
   <button *ngIf="loginStatus()" mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
   <a *ngIf="loginStatus()" [routerLink]="['/auth/profile']"routerLinkActive="active">
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>Profile</span>
  </button> 
  </a>
  <a *ngIf="loginStatus()" [routerLink]="['/user/list']"routerLinkActive="active">
  <button mat-menu-item>
    <mat-icon>list</mat-icon>
    <span>Your Listing</span>
  </button> </a> 
  <a *ngIf="loginStatus()" [routerLink]="['/ad/list']"routerLinkActive="active">
  <button mat-menu-item>
    <mat-icon>list</mat-icon>
    <span>Ad Listing</span>
  </button> </a>
   <a *ngIf="loginStatus()" >
  <button mat-menu-item (click)="logout()">
   <mat-icon>logout</mat-icon>
    <span>logout</span>
  </button>
  </a>
</mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-toolbar *ngIf="pageTitle != 'Welcome'" class="border-accent-small-bottom" color="primary" style="height:50px;font-size:12px">
  {{ pageTitle }}
</mat-toolbar>
  <mat-divider></mat-divider>

