
<!-- <mat-grid-list cols="3" gutterSize="5px" rowHeight="110px" style="background-color:#b8c0c7">
<mat-grid-tile [colspan]="3"  [rowspan]="2"> -->
  <div class="row mt-2">
<div class="col-sm-2" >
    <img class="m-2" [src]="userdetails.profileImage"  class="rounded-circle border-accent" mat-card-lg-image>
</div>
<div class="col-sm-10" >
<mat-list  role="list" class="list-group">
  <mat-list-item role="listitem" class="list-group-item ">
  	<mat-icon mat-list-icon>account_box</mat-icon>
    <h4 mat-line>{{userdetails.username | titlecase}}</h4>
  </mat-list-item>
  <mat-list-item role="listitem" class="list-group-item">
    <mat-icon mat-list-icon>location_on</mat-icon>
    <span mat-line>{{userdetails.address | titlecase}}</span>
  </mat-list-item> 
  <mat-list-item role="listitem" class="list-group-item">
    <mat-icon mat-list-icon>description</mat-icon>
    <span mat-line>{{userdetails.description | titlecase}}</span>
  </mat-list-item>
  <mat-list-item role="listitem" class="list-group-item">
         <button *ngIf="userdetails.selfStatus == 0 && userdetails.followStatus == 0" mat-flat-button color="accent" (click)="followUser(0)">Follow</button>
         <button *ngIf="userdetails.selfStatus == 0 && userdetails.followStatus > 0" mat-flat-button color="accent" (click)="followUser(1)">Unfollow</button>
  </mat-list-item>
</mat-list>
</div>
<mat-divider></mat-divider>
<div class="col-sm mt-2">
<mat-tab-group >
<mat-tab>
    <ng-template  *ngIf="userdetails.selfStatus == 0"  mat-tab-label>
      <mat-icon class="example-tab-icon">view_list</mat-icon>&nbsp;
      Listings
    </ng-template> 
    <ng-template  *ngIf="userdetails.selfStatus == 1"  mat-tab-label>
      <mat-icon class="example-tab-icon">view_list</mat-icon>&nbsp;
      Your Listings
    </ng-template>
     
<!-- </mat-grid-tile>
<mat-grid-tile [colspan]="deviceCols" [rowspan]="4" *ngFor="let ad of adList"> -->
  <div class="card-columns">
        <div class="text-center m-2" *ngIf="adList.length == 0">No Listings</div>

<mat-card class="card m-2"  *ngFor="let ad of adList">
  <mat-card-header class="m-2">
    <img [src]="ad.profileImage"  class="border" mat-card-avatar>
    <mat-card-title>{{ad.username | titlecase}}</mat-card-title>
    <mat-card-subtitle>{{ad.created_date_format | date:'medium' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
 <img *ngIf="ad.ad_image_1" class="img-thumbnail mt-2" [src]="ad.ad_image_1" alt="">
  <div class="card-body">
  <mat-card-content class="m-2">
     <p [innerHtml]="ad.show_text">
    </p>
   <mat-list class="card-text">
  <mat-list-item *ngIf="ad.websitelink">
   <a href="{{ad.websitelink}}" target="_blank"><mat-icon mat-list-icon>link</mat-icon></a>
  </mat-list-item> 
  <mat-divider *ngIf="ad.city"></mat-divider>
  <mat-list-item *ngIf="ad.city">
   <mat-icon mat-list-icon>location_on</mat-icon>{{ad.city}}
  </mat-list-item>
</mat-list>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
<!-- <button mat-icon-button>
    <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small" matBadgeOverlap="false" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small" matBadgeOverlap="false" aria-label="Example icon-button with a heart icon">visibility</mat-icon>
  </button>
   <button mat-icon-button>
  <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small" matBadgeOverlap="false" aria-label="Example icon-button with a heart icon">email</mat-icon>
  </button>
   <button mat-icon-button>
    <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small" matBadgeOverlap="false" aria-label="Example icon-button with a heart icon">flag</mat-icon>
  </button> -->
   <button *ngIf="ad.showEdit == 1" (click)="deleteAd(ad._id)"  mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
  </button>
  <button *ngIf="ad.showEdit == 1" (click)="editAd(ad._id)" mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
  </button>
  
  <button class="float-right mr-2"  (click)="viewAd(ad._id)"  mat-raised-button color="accent">View</button>
  </mat-card-actions>
</div>
</mat-card>
<!-- </mat-grid-tile>
</mat-grid-list> -->
</div>
</mat-tab>
<mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">people</mat-icon>&nbsp;Follower
    </ng-template>
    <div class="text-center m-2" *ngIf="userdetails.follower_list.length == 0">No Followers</div>
    <div class="card-columns">
      <mat-card class="card mt-2" *ngFor="let fl of userdetails.follower_list">
        <mat-card-header >
        <img  mat-card-avatar [src]="concatImageUrl(userdetails.imgurl,fl.profile_image)"  class="rounded-circle" >
        <mat-card-title  ><a href="user/list/{{fl.userid}}"> {{fl.username | titlecase}}</a>
        </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
</mat-tab>
 <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">people</mat-icon>&nbsp;
      Following
          </ng-template>
    <div class="text-center m-2"  *ngIf="userdetails.following_list.length == 0">No one following</div>
    <div class="card-columns mt-2">
        <mat-card class="card" *ngFor="let fl of userdetails.following_list">
        <mat-card-header>
        <img  mat-card-avatar [src]="concatImageUrl(userdetails.imgurl,fl.profile_image)"  class="rounded-circle" >
        <mat-card-title><a href="user/list/{{fl.userid}}"> {{fl.username | titlecase}}</a></mat-card-title>
        </mat-card-header>
        </mat-card>
      </div>
  </mat-tab>
</mat-tab-group>
</div>
</div>