/* You can add global styles to this file, and also import other style files */
@import '~@ngx-share/button/themes/default/default-theme';

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load  single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-grey,400);
$candy-app-accent:  mat-palette($mat-green,900);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);


@import '~bootstrap/dist/css/bootstrap.css';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

$custom-typography: mat-typography-config(
    $font-family: 'Roboto'

);

@include mat-core($custom-typography);

my-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-sidenav-container.mat-drawer-container {
  overflow: auto;
  flex-grow: 1;
}

body
{
   font-size:15px;
}

.header
{
}

input,
textarea,
[contenteditable] {
  color: #666;
  caret-color: #1b5e20;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.toolbar
{
	width: 100%;
	height:200px
}
.image-upload > input
{
    display: none;
}

.image-upload-icon
{
	 background-image: url("./assets/upload-icon.png");
	 background-size:contain;
	 width:50px;
	 height:50px;
	 float:left
}

.login-icon
{
	float:right;
}

.full-width
{
	width:100%;
	margin:0px 5px;
}
.half-width
{
	width:50%;
	margin:0px 5px;
	float:left;
}
.quarter-width
{
	width:25%;
	margin:0px 5px;
	float:left;

}
.sidenav
{
	width:30%;
	padding:0px 10px;
}
.sidenav-container
{
	width:100%;
	padding:10px
}
.signup-background
{
 background-image: url("./assets/signup-background.jpg");
 background-size:contain;
 background-blend-mode:screen;
}
.home-background
{
 background-image: url("./assets/home-background.png");
 background-size:contain;
 background-blend-mode:screen;
}
.tiny-form
{
	background: white;
	padding:5px 10px;
	border: solid 1px;
	margin : 10px;
}

.postad-form
{
	background: white;
	padding:5px 10px;
	margin : 10px;
}

.form__error
{
	padding:5px;
	background-color:#f5f2f2;
	margin:2px;
	font-weight:500

}

.ad-logo
{
	background-image: url("./assets/logo.png");
	width:100px;
	height:37px;
	padding:10px
}

.imgwrapper {
   width: 80%;
}

.dropdown-menu-hashtag li
{
	font-size:16px;
	color:#004d40;
	font-weight:500;
  text-decoration:none;
  padding:2px;
  border: 1px solid;
  width:100%
}

.ad-card
{
max-width:500px;
background-color:whitesmoke;
 display: inline-block;
}

.ad-card img
{
max-height:400px;
}

.view-ad-card
{
	width:90%
}
.size-1
{
width:10%
}
.size-2
{
width:20%
}
.size-3
{
width:30%
}
.size-4
{
width:40%
}
.size-5
{
width:50%
}
.profile-container
{
	width:98%;
}
.profile-card
{
width:100%;
background-color:whitesmoke

}
.profileimage-box
{
	margin:5px;
	float:left;
	width:20%;
	height:auto
}
.hashtags
{
	color:#1b5e20;
  font-weight:500
}
a { color: #1b5e20;text-decoration:none } 
a:hover { color: #1b5e20;text-decoration:none } 
.font-14
{
	font-size:14px !important
}

.profileimage-content
{
	margin:5px
}
.square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}

 .dropdown-menu {
        display: block;
        max-height: 200px;
        overflow-y: auto;
      }

/*---- Chats -----*/
.chat-sidenav {
  width: 15rem;
  border-right: 1px solid rgba(0, 0, 0, .12)
}
.chat-sidebar-toolbar,
.chat-toolbar,
.chat-sidebar-toolbar .mat-toolbar-row,
.chat-toolbar .mat-toolbar-row {
  min-height: 56px !important;
  height: 56px !important;
}
.chats-wrap .conversations-hold .single-conversation {
  overflow: hidden;
  padding: 0 2rem;
  margin-bottom: 2rem;
}
.chats-wrap .conversations-hold .single-conversation .toolbar-avatar {
  vertical-align: bottom;
  margin-right: 1rem;
}
.chats-wrap .conversations-hold .single-conversation .chat-username {
  margin: 0 0 .625rem;
  font-size: .875rem;
}
.chats-wrap .conversations-hold .single-conversation .conversation-msg {
  padding: .48rem .94rem;
  display: inline-block;
  border-radius: 4px;
}
.chats-wrap .conversations-hold .single-conversation.sender .conversation-msg {
  background: #ffffff;
}

.chats-wrap .conversations-hold .single-conversation .chat-date {
  font-size: 11px;
  padding: 2px;
  margin: 0;
  clear: both;
}
.chats-wrap .chat-input-actions {
  padding: .6rem;
}

[dir=rtl] {
  .chat-sidenav {
    border-right: none;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
  }
  .chats-wrap .conversations-hold .single-conversation .toolbar-avatar {
    margin-right: 0;
    margin-left: 1rem;
  }
}

//colors
 
.primary-md-color
{
	background-color:whitesmoke;
	color:white;
}
.accent-md-color
{
	background-color:#1b5e20;
	color:white;
}

.accent-md-font-color
{
  background-color:whitesmoke;
  color:#1b5e20;
  font-weight:700;
}

.border-accent
{
	border:solid 10px #1b5e20;
}

.border-accent-small-bottom
{
	border-bottom:solid 2px #1b5e20;
}

.border-accent-small-top
{
	border-top:solid 2px #1b5e20;
}


.list-avatar
{
	    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover
}

.videoheader {
  position: relative;
  background-color: black;
  height: 50vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.videoheader video {
  position: absolute;
  top: 0%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.videoheader .container {
  position: relative;
  z-index: 2;
}

.videoheader .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
 
}

.dropdown-menu li
{
  margin:2px !important;

}

.dropdown-menu li.active
{
  background:#28a745;
  color:white !important;
}

      body, html {
        height: 100%;
        background-color: #ebecec
      }
      .app-loading {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
      .app-loading .spinner {
        height: 200px;
        width: 200px;
        animation: rotate 2s linear infinite;
        transform-origin: center center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      .app-loading .spinner .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite;
        stroke-linecap: round;
        stroke: #ddd;
      }
      @keyframes rotate {
        100% {
          transform: rotate(360deg);
        }
      }
      @keyframes dash {
        0% {
          stroke-dasharray: 1, 200;
          stroke-dashoffset: 0;
        }
        50% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -35px;
        }
        100% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -124px;
        }
      }

      .sliderwidth
      {
      width:100%;
      height:100%;
      }

      .position-center
      {
      position:fixed;
      top:50%;
      left:50%;
      z-index:100;
      color:white
      }

      .profiles-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

.bold-class
{
    font-weight: 500
}

.ht-cards
{
  width:32%;
  margin: 0 8px 8px 0; /* Some gutter */
  height:auto !important;
}
#card-container {
  display: flex;
  flex-flow: row wrap;
}


.login-background
{
  background-image: url("./assets/login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}



@import 'tim.css';
@import 'quill.css';
