<div class="rounded  text-center">
    <form [formGroup]="editProfileForm" class="mt-1" (ngSubmit)="updateProfile()">
    	<div *ngIf="profile_image" class="">
		<img src="{{profile_image}}" (click)="fileInput.click()"  class="rounded-circle" style="width:100px;border:1px solid" >
		</div>
		<div class="image-upload">
		<input #fileInput type="file" formControlName="profileImage"
		(change)="onFileChanged($event)"/>
		</div>

    	<mat-form-field class="full-width"> 
    	<input minlength="3" maxlength="15" matInput placeholder="User Name" formControlName="username">
    	<mat-error align="start" *ngIf="editProfileForm.controls['username'].hasError('required') && editProfileForm.controls['username'].touched " readonly class="form__error">Username is required</mat-error>
    	<mat-error align="start" *ngIf="errors.username" class="form__error">{{ errors.username }}</mat-error> 
    	</mat-form-field>
    	<mat-form-field class="full-width">
    	<input minlength="10" maxlength="50" matInput placeholder="Email" formControlName="email">
    	<mat-error align="start" *ngIf="editProfileForm.controls['email'].hasError('required') && editProfileForm.controls['email'].touched " class="form__error">Your Email is required</mat-error>
    	<mat-error align="start" *ngIf="editProfileForm.controls['email'].valid && editProfileForm.controls['email'].touched " class="form__error">Your email is not valid</mat-error>
        <mat-error align="start" *ngIf="errors.email" class="form__error">{{ errors.email }}</mat-error>
    	</mat-form-field>

    	<mat-form-field class="full-width">
    	<input minlength="6" maxlength="15" matInput placeholder="Mobile" formControlName="phone">
    	<mat-error align="start" *ngIf="editProfileForm.controls['phone'].hasError('required') && editProfileForm.controls['phone'].touched " class="form__error">Your Mobile Number is required</mat-error>
    	<mat-error align="start" *ngIf="errors.phone" class="form__error">{{ errors.phone }}</mat-error>
    	</mat-form-field>

    <!-- 	<mat-form-field class="full-width">
    	<input minlength="8" maxlength="15" matInput placeholder="Password" type="password" formControlName="password">
    	<mat-error align="start" *ngIf="editProfileForm.controls['password'].hasError('required') && editProfileForm.controls['password'].touched " class="form__error">Your Password is required</mat-error>
    	<mat-error align="start" *ngIf="errors.password" class="form__error">{{ errors.password }}</mat-error>
    	</mat-form-field> -->

        <mat-checkbox formControlName="userType">Business</mat-checkbox>

        <mat-toolbar *ngIf="editProfileForm.value.userType" class="full-width">Business Details</mat-toolbar>
        <mat-divider *ngIf="editProfileForm.value.userType" ></mat-divider>

        <mat-form-field *ngIf="editProfileForm.value.userType" class="full-width mt-2">
        <textarea matInput placeholder="Business Name" formControlName="businessName"></textarea>
        <mat-error align="start" *ngIf="editProfileForm.controls['businessName'].touched && errors.businessName" class="form__error">{{ errors.businessName }}</mat-error>
        </mat-form-field>

    	<mat-form-field *ngIf="editProfileForm.value.userType" class="full-width">
    	<textarea matInput placeholder="Business Address" formControlName="address"></textarea>
    	<mat-error align="start" *ngIf="editProfileForm.controls['address'].touched && errors.address" class="form__error">{{ errors.address }}</mat-error>
    	</mat-form-field>

    	<mat-form-field *ngIf="editProfileForm.value.userType" class="full-width">
    	<textarea matInput placeholder="Business Description" formControlName="description"></textarea>
    	<mat-error align="start" *ngIf="editProfileForm.controls['description'].touched && errors.description" class="form__error">{{ errors.description }}</mat-error>
    	</mat-form-field>

    	<div class="button-row mt-5">
    	  <button mat-raised-button  [disabled]="!editProfileForm.valid" type="submit" color="accent">Update Profile</button>
    	</div>

    </form>
    </div>